<ul id="tweets">
  <% @recent_tweets.each do |tweet| %>
    <li>
      <a href="http://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>">
        <%= tweet.text %>
      </a>
    </li>
  <% end %>
</ul>
