<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Twitter API Gem</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
