html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 100% "Merienda One", "Helvetica Neue", sans-serif;
  background: url(/loading.gif) no-repeat 50% 50%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tweets a {
  display: block;
  text-decoration: none;
  color: hsl(45, 100%, 80%);
  font-size: 140%;
  text-shadow: 0 2px 0 rgba(0,0,0,0.75);
  background: hsl(300, 80%, 15%);
  padding: 15px 20px;
  border-top: 1px solid rgba(255,255,255,0.08);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
  text-overflow: ellipsis;
}
#tweets li:nth-child(even) a {
  background: hsl(300, 80%, 14%);
}

#tweets li {
  counter-increment: count;
  position: relative;
  overflow: hidden;
}
#tweets li:after {
  content: counter(count);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: rgba(0,0,0,0.25);
}
